h1 { 
	font-size: 32;
}


.mainContent {
	text-color: blue;
	text-align: center;
	background-color: moccasin;
	width: 80%;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
	border: 10px solid;
	border-color: linear-gradient(silver, black);
	font-size: 32px;
}

.textBlock {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	min-width: 200px;
	border: 5px solid slategray;
	text-align: center;
	background: black;
	color: white;
}

.topPic {
	max-height: 100px;
	margin-left: auto;
	margin-right: auto;
}


body {
	background: blue;
	}

a:hover {
	color: white;
}
